<nav>
  <h2><a href="/">Quote Finder</a></h2>

  <ul>
    <li><a href="/">Home</a></li>

    <% if (isLoggedIn) { %>
      <li><a href="/authors">Authors</a></li>
      <li><a href="/authors/new">Add Author</a></li>
      <li><a href="/quotes">Quotes</a></li>
      <li><a href="/quotes/new">Add Quote</a></li>
      <li class="nav-item">
        <form action="/logout" method="POST" style="display:inline;">
          <button type="submit" class="btn btn-link nav-link" style="display:inline; padding:0; border:0; background:none;">Logout</button>
        </form>
      </li>
    <% } else { %>
      <li><a href="/login">Login</a></li>
    <% } %>
  </ul>
</nav>
<hr>